doctype html
html(lang="en")
	head
		title= ToDoList
	body
		h1 To Do List
		#header
			input#form(type='text' placeholder = 'What would you like to do?' name='todo')
			input#btn(type='button' value = 'submit')
		#table
			ol #list
				li Shit
				li To
				li Do
