doctype html
html(lang="en")
	head
		title= title
	body
		h1 #{listName}
		#header
		form(action = listName+'/new-task' method = 'post')
			input#form(type='text' placeholder = 'What is your name?' name='name')
			input#form(type='text' placeholder = 'What would you like to do?' name='todo')
			input#btn(type='submit' value = 'Submit')
		#table
			ol#list
			each val in taskslist
				li #{val.text} (Created by #{val.createdBy}
				