.bg {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00985F;
}

a {
  color: #00B7FF;
}

#main{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	-moz-box-shadow: 5px 5px 3px #888;
	-webkit-box-shadow: 5px 5px 3px #888;
	box-shadow: 5px 5px 3px #888;
	border-radius: 3px;
	background-color: #ffffff;

}
input{
	margin: 5px 5px 5px 5px;
}